@import "vars";
@media screen and (max-width: 480px) {
    /* encabezado */
    .menu {
        .menu__navegacion {
            font-size: $size-parrafos-celular;
        }
    } 
    /* footer */
    .footer {
        margin: 25px 10px 10px 10px;
        padding: 7px;
        .footer__div {
            .footer__redes {
                font-size: 13px;
            }
        }
    }
    /* index */
    .article__titulo {
        font-size: 45px !important;
    }
    .article {
        display: block;
        margin: 25px 0;
        .article__imagen {
            width: 200px;
        }
        .article__texto {
            margin: 15px auto;
            width: 275px !important;
            font-size: $size-parrafos-celular !important;
        }
    }
    .section__title {
        @include titulos-celular;
    }
    .section {
        width: 300px;
        height: 300px;
        .carousel-item {
            height: 300px;
            width: 300px;
        }
    }
    .carousel-control-prev {
        width: 10%;
    }
    .carousel-control-next {
        width: 10%;
    }
    /* quienes somos */
    .quienessomos__titulo {
        @include titulos-celular;
    }
    .quienessomos {
        display: block;
        div {
            .quienessomos__imagen {
                height: 275px;
                width: 275px;
            }
            .quienessomos__parrafo {
                width: 300px;
                font-size: $size-parrafos-celular;
                margin: 15px auto;
            }
        }
    }
    .valores__titulo {
        margin: $margin-titulos-celular;
        font-size: $size-parrafos;
    }
    .valores-div {
        .valores {
            font-size: $size-parrafos-celular;
        }
    }
    .contacto {
        display: none;
    }
    /* productos */
    .nuestrosproductos {
        @include titulos-celular;
    }
    .row {
        .col {
            width: 70%;
            .card-title {
                font-size: $size-parrafos-celular !important;
            }
        }
    }
    /* envios */
    .envios__titulo {
        @include titulos-celular;
    }
    .envios {
        .envios__zona {
            font-size: $size-parrafos;
        }
        .envios__precio {
            font-size: $size-parrafos-celular;
            text-align: center;
            .envios__contacto {
                font-size: $size-parrafos-celular;
            }
        }
        .envios__iframe {
            border: solid black 3px;
            margin: 15px auto;
            width: 275px;
            height: 275px;
        }
    }
    /* contacto */
    .contacto__titulo {
        @include titulos-celular;
    }
    .formulario {
        .formulario__legend {
            font-size: $size-parrafos-celular;
            text-align: center;
        }
        .formulario__label {
            font-size: $size-parrafos-celular !important;
        }
        .formulario__input {
            font-size: $size-parrafos-celular !important;
        }
        .formulario__boton {
            padding: 6px !important;
            font-size: $size-parrafos-celular !important;
        }
    }
    .ubicacion__titulo {
        margin: $margin-titulos-celular;
        font-size: $size-parrafos;
    }
    .ubicacion {
        .ubicacion__direccion {
            font-size: $size-parrafos-celular;
        }
        .ubicacion__iframe {
            border: solid black 3px;
            margin: 15px auto;
            width: 275px;
            height: 275px;
        }
    }
}