$border-item: groove antiquewhite;
$border-item-hover: groove #999;
$tipografia:'Faustina', serif;
$font-titulos: 800;
$margin-titulos: 30px;
$size-parrafos: 25px;
$size-parrafos-tablet: 20px;
$size-parrafos-celular: 17px;
$size-titulos: 45px;
$size-titulos-tablet: 40px;
$size-titulos-celular: 35px;