/* global */
* {
  margin: 0%;
  padding: 0%;
}

body {
  background: linear-gradient(115deg, #969696 45%, #FFFFFF);
}

/* encabezado */
.encabezado {
  padding: 0px;
  font-family: 'Permanent Marker', cursive;
  background: black !important;
}

.menu {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #696969), to(black));
  background: linear-gradient(0deg, #696969 20%, black);
  padding: 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu .menu__navegacion {
  padding: 10px;
  text-decoration: none;
  color: white !important;
  border: double 5px black;
  font-family: 'Permanent Marker', cursive;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #696969), to(black));
  background: linear-gradient(360deg, #696969 10%, black);
  width: 100%;
  font-size: 25px;
}

.menu .menu__navegacion:hover {
  background: white;
  color: black !important;
}

/* footer */
.footer {
  margin-top: 45px;
  padding: 10px;
  background: black;
}

.footer .footer__div {
  background: black;
}

.footer .footer__div .footer__redes {
  text-decoration: none;
  font-size: 20px;
  background: black;
  font-family: 'Permanent Marker', cursive;
  color: white;
}

.footer .footer__div .footer__redes img {
  margin: 7px 5px;
}

/* inicio */
.div-titulo {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.div-titulo .article__titulo {
  text-align: center;
  font-family: 'Bangers', cursive;
  font-size: 60px;
  font-weight: 1000;
  margin: 30px;
}

.article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  margin-top: 50px;
  margin-bottom: 100px;
}

.article .article__imagen {
  display: block;
  margin: 0 auto;
  width: 400px;
}

.article div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.article div .article__texto {
  width: 350px;
  font-size: 30px;
  font-family: 'Bangers', cursive;
  text-align: center;
  display: block;
}

.section__title {
  font-size: 45px;
  margin: 30px;
  font-weight: 800;
  font-family: "Bangers", cursive;
  font-size: 36px;
}

.section {
  display: block;
  width: 700px;
  height: 700px;
  margin: 0 auto;
}

.section .carousel-item {
  height: 700px;
  width: 700px;
}

.section .carousel-item .carousel-caption h5 {
  font-family: 'Bangers', cursive;
}

.carousel-control-prev {
  width: 50%;
}

.carousel-control-next {
  width: 50%;
}

/* quienes somos */
.quienessomos__titulo, .valores__titulo {
  font-size: 45px;
  margin: 30px;
  font-weight: 800;
  font-family: "Bangers", cursive;
}

.quienessomos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.quienessomos div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.quienessomos div .quienessomos__imagen {
  display: block;
  margin: 0 auto;
  height: 400px;
  width: 350px;
}

.quienessomos div .quienessomos__parrafo {
  font-family: 'Bangers', cursive;
  width: 400px;
  font-size: 25px;
  text-align: center;
}

.valores__titulo {
  font-size: 36px;
}

.valores-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.valores-div .valores {
  font-family: "Bangers", cursive;
  font-size: 25px;
  width: 40%;
  text-align: center;
  font-weight: 800;
  display: inline-block;
}

.contacto {
  text-decoration: none;
  color: black;
  font-family: "Bangers", cursive;
  margin: 20px;
  font-size: 25px;
  text-align: center;
}

.contacto:hover {
  color: white;
}

/* productos */
.nuestrosproductos {
  font-size: 45px;
  margin: 30px;
  font-weight: 800;
  font-family: "Bangers", cursive;
}

.row {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.row .col {
  padding: 0%;
  width: 35%;
  margin: 10px 0;
}

.row .col .card {
  background: linear-gradient(320deg, #969696 45%, #FFFFFF);
  border: solid #000000 3px;
}

.row .col .card .card-img-top {
  width: 90%;
  height: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 15px 10px;
}

.row .col .card .card-title {
  font-family: "Bangers", cursive;
  font-size: 25px;
  text-align: center;
  font-weight: 800;
}

.ratona {
  width: 90%;
  height: 70%;
}

.perchero {
  width: 80%;
  height: 90%;
}

/* envios */
.envios__titulo {
  font-size: 45px;
  margin: 30px;
  font-weight: 800;
  font-family: "Bangers", cursive;
}

.envios__zona {
  font-family: "Bangers", cursive;
  font-size: 36px;
  margin: 15px;
  font-weight: 800;
}

.envios .envios__precio {
  font-family: "Bangers", cursive;
  font-size: 25px;
  margin-left: 5px;
}

.envios .envios__precio .envios__contacto {
  text-decoration: none;
  color: black;
  font-family: "Bangers", cursive;
  font-size: 25px;
}

.envios .envios__precio .envios__contacto:hover {
  color: white;
}

.envios .envios__iframe {
  border: solid 5px black;
  display: block;
  margin: 25px auto;
  width: 700px;
  height: 600px;
}

/* contacto */
.contacto__titulo, .ubicacion__titulo, .medios__titulo {
  font-size: 45px;
  margin: 30px;
  font-weight: 800;
  font-family: "Bangers", cursive;
}

.formulario {
  margin: 10px auto;
  width: 95%;
}

.formulario .formulario__legend {
  font-family: "Bangers", cursive;
  font-size: 25px;
}

.formulario div .formulario__label {
  font-family: "Bangers", cursive;
  margin: 5px;
  font-size: 25px;
}

.formulario div .formulario__input {
  display: block;
  font-family: "Bangers", cursive;
  margin: 5px !important;
  width: 75%;
  background: linear-gradient(150deg, #FFFFFF 0%, #969696);
  font-size: 25px;
  border: solid 2px black;
}

.formulario div textarea {
  height: 107px;
}

.formulario div .formulario__boton {
  padding: 7px;
  margin: 10px 25px;
  font-family: "Bangers", cursive;
  font-size: 25px;
  background: linear-gradient(135deg, #696969 10%, black);
  color: white;
  border: double 5px black;
}

.formulario div .formulario__boton:hover {
  background-color: #deb887d8;
  color: black;
  border: groove #999 5px;
}

.ubicacion__titulo {
  font-size: 36px;
}

.ubicacion .ubicacion__direccion {
  display: block;
  font-family: "Bangers", cursive;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 25px;
}

.ubicacion .ubicacion__iframe {
  border: solid 5px black;
  display: block;
  margin: 25px auto;
  width: 700px;
  height: 600px;
}

.medios__titulo {
  font-size: 36px;
}

.medios {
  margin: 10px;
}

.medios .medios__redes {
  font-family: "Bangers", cursive;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.medios .medios__redes img {
  height: 30px;
  width: 30px;
}

@media (min-width: 481px) and (max-width: 768px) {
  /* encabezado */
  .menu .menu__navegacion {
    border: groove antiquewhite 5px;
    font-size: 20px;
  }
  .menu .menu__navegacion:hover {
    background: white;
    border: groove #999 5px;
  }
  /* footer */
  .footer {
    margin: 25px 12px 12px 12px;
    padding: 7px;
  }
  .footer .footer__div .footer__redes {
    font-size: 12px;
  }
  /* index */
  .article__titulo {
    font-size: 50px;
  }
  .article {
    margin-top: 30px;
    margin-bottom: 40px;
    display: block;
  }
  .article .article__imagen {
    width: 300px;
    height: 400px;
  }
  .article div .article__texto {
    font-size: 25px;
    margin: 10px auto;
  }
  .section__title {
    font-size: 36px;
    margin: 25px;
  }
  .section {
    width: 450px;
    height: 450px;
  }
  .section .carousel-item {
    height: 450px;
    width: 450px;
  }
  .carousel-control-prev {
    width: 20%;
  }
  .carousel-control-next {
    width: 20%;
  }
  /* quienes somos */
  .quienessomos__titulo, .valores__titulo {
    font-size: 36px;
    margin: 25px;
  }
  .quienessomos {
    display: block;
  }
  .quienessomos div .quienessomos__imagen {
    height: 400px;
    width: 400px;
  }
  .quienessomos div .quienessomos__parrafo {
    width: 350px;
    font-size: 20px;
    margin: 15px auto;
  }
  .valores__titulo {
    font-size: 30px;
    margin: 25px;
  }
  .valores-div .valores {
    font-size: 20px;
  }
  .contacto {
    display: block;
    margin: 20px 10px;
    font-size: 20px;
    text-align: center;
  }
  /* productos */
  .nuestrosproductos {
    font-size: 36px;
    margin: 25px;
  }
  .card .card-title {
    font-size: 20px !important;
  }
  /* envios */
  .envios__titulo {
    font-size: 36px;
    margin: 25px;
  }
  .envios .envios__zona {
    font-size: 30px;
  }
  .envios .envios__precio {
    font-size: 20px;
    text-align: center;
  }
  .envios .envios__precio .envios__contacto {
    font-size: 20px;
  }
  .envios .envios__iframe {
    border: solid 4px black;
    margin: 20px auto;
    width: 450px;
    height: 450px;
  }
  /* contacto */
  .contacto__titulo, .ubicacion__titulo, .medios__titulo {
    font-size: 36px;
    margin: 25px;
  }
  .formulario .formulario__legend {
    font-size: 20px;
  }
  .formulario div .formulario__label {
    font-size: 20px;
  }
  .formulario div .formulario__input {
    font-size: 20px;
  }
  .formulario div .formulario__boton {
    padding: 8px;
    font-size: 20px;
    border: groove antiquewhite 4px;
  }
  .formulario div .formulario__boton:hover {
    border: groove #999 4px;
  }
  .ubicacion__titulo {
    margin: 25px;
    font-size: 30px;
  }
  .ubicacion .ubicacion__direccion {
    font-size: 20px;
  }
  .ubicacion .ubicacion__iframe {
    border: solid 4px black;
    margin: 20px auto;
    width: 450px;
    height: 450px;
  }
  .medios__titulo {
    margin: 25px;
    font-size: 30px;
  }
  .medios .medios__redes {
    font-size: 20px;
  }
  .medios .medios__redes img {
    height: 25px;
    width: 25px;
  }
}

@media screen and (max-width: 480px) {
  /* encabezado */
  .menu .menu__navegacion {
    border: groove antiquewhite 3px;
    font-size: 17px;
  }
  .menu .menu__navegacion:hover {
    border: groove #999 3px;
  }
  /* footer */
  .footer {
    margin: 25px 10px 10px 10px;
    padding: 7px;
  }
  .footer .footer__div .footer__redes {
    font-size: 10px;
  }
  /* index */
  .article__titulo {
    font-size: 45px;
  }
  .article {
    display: block;
    margin: 25px 0;
  }
  .article .article__imagen {
    width: 200px;
  }
  .article .article__texto {
    margin: 7px auto;
    width: 275px !important;
    font-size: 17px !important;
  }
  .section__title {
    font-size: 30px;
    margin: 20px;
  }
  .section {
    width: 300px;
    height: 300px;
  }
  .section .carousel-item {
    height: 300px;
    width: 300px;
  }
  .carousel-control-prev {
    width: 10%;
  }
  .carousel-control-next {
    width: 10%;
  }
  /* quienes somos */
  .quienessomos__titulo, .valores__titulo {
    font-size: 30px;
    margin: 20px;
  }
  .quienessomos {
    display: block;
  }
  .quienessomos div .quienessomos__imagen {
    height: 300px;
    width: 300px;
  }
  .quienessomos div .quienessomos__parrafo {
    width: 300px;
    font-size: 17px;
    margin: 12px auto;
  }
  .valores__titulo {
    margin: 20px;
    font-size: 25px;
  }
  .valores-div .valores {
    font-size: 17px;
  }
  .contacto {
    display: block;
    margin: 30px 10px;
    font-size: 17px;
    text-align: center;
  }
  /* productos */
  .nuestrosproductos {
    font-size: 30px;
    margin: 20px;
  }
  .row .col {
    width: 70%;
  }
  .row .col .card-title {
    font-size: 17px !important;
  }
  /* envios */
  .envios__titulo {
    font-size: 30px;
    margin: 20px;
  }
  .envios .envios__zona {
    font-size: 25px;
  }
  .envios .envios__precio {
    font-size: 17px;
    text-align: center;
  }
  .envios .envios__precio .envios__contacto {
    font-size: 17px;
  }
  .envios .envios__iframe {
    border: solid black 3px;
    margin: 15px auto;
    width: 275px;
    height: 275px;
  }
  /* contacto */
  .contacto__titulo, .ubicacion__titulo, .medios__titulo {
    font-size: 30px;
    margin: 20px;
  }
  .formulario .formulario__legend {
    font-size: 17px;
    text-align: center;
  }
  .formulario .formulario__label {
    font-size: 17px !important;
  }
  .formulario .formulario__input {
    font-size: 17px !important;
  }
  .formulario .formulario__boton {
    padding: 6px !important;
    font-size: 17px !important;
    border: groove antiquewhite 3px !important;
  }
  .formulario .formulario__boton:hover {
    border: groove #999 3px !important;
  }
  .ubicacion__titulo {
    margin: 20px;
    font-size: 25px;
  }
  .ubicacion .ubicacion__direccion {
    font-size: 17px;
  }
  .ubicacion .ubicacion__iframe {
    border: solid black 3px;
    margin: 15px auto;
    width: 275px;
    height: 275px;
  }
  .medios__titulo {
    margin: 20px;
    font-size: 25px;
  }
  .medios .medios__redes {
    font-size: 17px;
  }
  .medios .medios__redes img {
    height: 22px;
    width: 22px;
  }
}
/*# sourceMappingURL=main.css.map */