@import "vars";
/* global */
* {
    margin: 0%;
    padding: 0%;
}
body {
    background: linear-gradient(115deg, #969696 45%, #FFFFFF);
}   

/* encabezado */
header {
    position: sticky;
    top: 0px;
    z-index: 2;
    .encabezado {
        padding: 0px;
        font-family: 'Permanent Marker', cursive;    
        background: black !important;
    }
    .menu {
        background: linear-gradient(0deg, #696969 20%, black);
        padding: 0px;
        .menu__div {
            background: linear-gradient(0deg, #696969 20%, black);
            padding: 0px;
            .menu__lista {
                background: linear-gradient(0deg, #696969 20%, black);
                padding: 0px;
                justify-content: space-around;
                ul {
                    li {
                        .menu__navegacion {
                            padding: 10px;
                            text-decoration: none;
                            color: white !important;
                            border: double 5px black;
                            font-family: 'Permanent Marker', cursive;        
                            background: linear-gradient(360deg, #696969 10%, black);
                            width: 100%;
                            font-size: $size-parrafos;
                            &:hover {
                                background: map-get($bg, hover);
                                color: black !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* footer */
.footer {
    margin-top: 45px;
    padding: 10px;
    background: map-get($bg, footer);
    .footer__div {
        background: map-get($bg, footer);
        .footer__redes {
            text-decoration: none;
            font-size: 17px;
            background: map-get($bg, footer);
            font-family: 'Permanent Marker', cursive;        
            color: white;
            .icono-maps {
                width: 20px;
                height: 30px;
                margin: 7px 7px;
            }
            .icono-wpp {
                width: 20px;
                height: 20px;
                margin: 7px 7px;
            }
            .icono-insta {
                width: 20px;
                height: 20px;
                margin: 7px 7px;
            }
        }
    }
}

/* inicio */
.div-titulo {
    width: 50%;
    display: block;
    margin: 20px auto;
    .article__titulo {
        text-align: center;
        font-family: 'Bangers', cursive;            
        font-size: 60px;
        font-weight: 1000;
    }
}
.article {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: space-evenly;
        .article__imagen {
            display: block;
            margin: 0 auto;
            width: 384px;
        }
        div {
            align-self: center;
            .article__texto {
                width: 384px;
                font-size: 30px;
                font-family: 'Bangers', cursive;            
                text-align: center;
                display: block;
            }
        }
}
.section__title {
    @include titulos;
}
.section {
    display: block;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    .carousel-item {
        height: 700px;
        width: 700px;
        .carousel-caption {
            h5 {
                font-family: 'Bangers', cursive;            
            }
        }
    }
}
.carousel-control-prev {
    width: 50%;
}
.carousel-control-next {
    width: 50%;
}
/* quienes somos */
.quienessomos__titulo {
    @include titulos;
}
.quienessomos {
    display: grid;
    grid-template-columns: 3fr 2fr;
    animation-duration: 1s;
    div {
        align-self: center;
        .quienessomos__imagen {
            display: block;
            margin: 0 auto;
            height: 450px;
            width: 384px;
        }
        .quienessomos__parrafo {
            font-family: 'Bangers', cursive;            
            width: 384px;
            font-size: $size-parrafos;
            text-align: center;
        }
    }
}
.valores__titulo {
    @extend .quienessomos__titulo;
    font-size: $size-titulos-tablet;
}
.valores-div {
    display: flex;
    justify-content: space-around;
    .valores {
        font-family: $tipografia;
        font-size: $size-parrafos;
        width: 40%;
        text-align: center;
        font-weight: $font-titulos;
        display: inline-block;
    }
}
.contacto {
    text-decoration: none;
    color: black;
    font-family: $tipografia;
    margin: 20px;
    font-size: $size-parrafos;
    text-align: center;
    &:hover {
        color: white;
    }
}

/* productos */
.nuestrosproductos {
    @include titulos;
}
.row {
    justify-content: space-evenly;
    width: 100%;
    .col {
        padding: 0%;
        width: 35%;
        margin: 10px 0;
        .card {
            background: linear-gradient(320deg, #969696 45%, #FFFFFF);
            border: solid #000000 3px;
            .card-img-top {
                width: 90%;
                height: 90%;
                align-self: center;
                padding: 15px 10px;
            }
            .card-title {
                font-family: $tipografia;
                font-size: $size-parrafos;
                text-align: center;
                font-weight: $font-titulos;
            }
        }
    }
}
.ratona {
    width: 90%;
    height: 70%;
}
.perchero {
    width: 80%;
    height: 90%;
}

/* envios */
.envios__titulo {
    @include titulos;
}
.envios__zona {
    font-family: $tipografia;
    font-size: $size-titulos-tablet;
    margin: 15px;
    font-weight: $font-titulos;
}
.envios {
    .envios__precio {
        font-family: $tipografia;
        font-size: $size-parrafos;
        margin-left: 5px;
        .envios__contacto {
            text-decoration: none;
            color: black;
            font-family: $tipografia;
            font-size: $size-parrafos;
            &:hover {
                color: white;
            }
        }
    }
    .envios__iframe {
        border: solid 5px black;
        display: block;
        margin: 25px auto;
        width: 700px;
        height: 600px;
    }
}

/* contacto */
.contacto__titulo {
    @include titulos;
}
.formulario {
    margin: 10px auto;
    width: 95%;
    .formulario__legend {
        font-family: $tipografia;
        font-size: $size-parrafos;
    }
    div {
        .formulario__label {
            font-family: $tipografia;
            margin: 5px;
            font-size: $size-parrafos;
        }
        .formulario__input {
            display: block;
            font-family: $tipografia;
            margin: 5px !important;
            width: 75%;
            background: linear-gradient(150deg, #FFFFFF 0%, #969696);
            font-size: $size-parrafos;
            border: solid 2px black;
        }
        textarea {
            height: 107px;
        }
        .formulario__boton {
            padding: 7px;
            margin: 10px 25px;
            font-family: $tipografia;
            font-size: $size-parrafos;
            background: linear-gradient(135deg, #696969 10%, black);
            color: white;
            border: double 5px black;
            &:hover {
                background: white;
                color: black;
                border: $border-item-hover 5px;
            }
        }
    }
}
.ubicacion__titulo {
    @extend .contacto__titulo;
    font-size: $size-titulos-tablet;
}
.ubicacion {
    .ubicacion__direccion {
        display: block;
        font-family: $tipografia;
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: $size-parrafos;
    }
    .ubicacion__iframe {
        border: solid 5px black;
        display: block;
        margin: 25px auto;
        width: 700px;
        height: 600px;
    }
}

@import "media-tablet";
@import "media-celular";